.predict-box{
	/*text-align: center;*/
	border-radius: 8px;
	border: 1px solid gray;
	box-shadow: 0 3px 5px 3px gray;
	width: 500px;
	height: 600px;
	margin: auto;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
}

.predict-box h1{
    text-align: center;
}

.predict-form{
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    height: 400px;
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
}

.form-label{
    font-size: 20px;
}

.form-input{
    position: relative;
    left: 100px;

    height:28px;
    width:250px;
    border:1px solid #9bc0dd;
}

.from-select{
    position: relative;
    left: 130px;
    text-align: center;

	background:#fafdfe;
    height:28px;
    width:180px;
    line-height:28px;
    border:1px solid #9bc0dd;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}



.predict-form .btn {
    position: relative;
    left: 160px;

    /* 文字颜色 */
    color: black;
    /* 清除背景色 */
    background: transparent;
    /* 边框样式、颜色、宽度 */
    border: 2px solid black;
    /* 给边框添加圆角 */
    border-radius: 6px;
    /* 字母转大写 */
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.predict-form .btn:hover {
    background-color: royalblue;
    color: white;
}

body{
	background-image: url("../img/b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}